/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    background: white;
    color: black;
    padding: 5px 15px;
    border-radius: 25px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
    background: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: bold;
    border: 2px solid transparent; /* Define a transparent border */
    transition: background 0.3s ease, border-color 0.3s ease; /* Add transition for border color */
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgb(14, 218, 229);
}

.nav a:active {
    background-color:rgb(14, 218, 229);
    color: white;
}

.login-signup {
    font-weight: bold;
}
