* {
    padding: 0px;
    margin: 0px;
}

/* Make the body a grid container */
body {
    font-family: 'Quicksand', sans-serif;
    display: grid;          /* Set display to grid */
    min-height: 100vh;      /* Ensure the body covers the full viewport height */
}